.note {
    font:  2em bold arial, sans-serif;
    border: 1px solid;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    margin: 4px;
    width: 40px;
    height: 40px;
    text-align: center;
    vertical-align: center;

}
.left, .right {
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* .left {
    left: 0;
}
.right {
    right: 0;
} */
.tuner {
    padding: 5px;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}
.space {
    height: 32px;
}
#guitarImage {
    background-image: url(../images/tuner.png);
    height: 243px;
    width: 173px;
}