.wrapper {
    padding: 10px;
}

h3, p, form {
    margin: 10px;
}

* {
    font: 20px serif;
    box-sizing: border-box;
}

input, label {
    margin: 5px 0;
}

input, select {
    padding: 10px;
}

.compare {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.compare__item {
    width: auto;
    padding: 5px;
    margin: 5px;
    border: 1px solid lightgoldenrodyellow;
}

.date__color_red
{
    color: red;
}

@media only screen and (max-width: 600px) {
    .compare {
        grid-template-columns: 1fr;
    }
}