.note {
  border: 1px solid;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  font: 2em bold arial, sans-serif;
  height: 40px;
  margin: 4px;
  text-align: center;
  vertical-align: center;
  width: 40px;
}

.left, .right {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tuner {
  padding: 5px;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}

.space {
  height: 32px;
}

#guitarImage {
  background-image: url(../images/tuner.png);
  height: 243px;
  width: 173px;
}